/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
body {
  /* background: rgb(222, 211, 211); */
  background: whitesmoke;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-container {
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
  box-shadow: 1px 1px 5px gray;
}

h2 {
  margin: 0;
  padding: 2%;
  background-color: white;
}

.icon {
  width: 15px;
  padding-left: 5%;
  cursor: pointer;
}

.fa:hover {
  cursor: move;
}

.icon1 {
  float: right;
  color: rgb(142, 147, 151);
  cursor: pointer;
  font-size: medium;
}

.task {
  display: flex;
  padding: 3%;
  background-color: white;
}

#task-input {
  /* width: 100%;
  margin-bottom: 1px;
  background-color: white; */
  display: flex;
  flex-wrap: nowrap;
}

.task-box {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
  row-gap: 2px;
}

.input-icon {
  width: 100%;
  margin-bottom: 1px;
  background-color: white;
}

.todo-text {
  width: 85%;
  border: none;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

input::placeholder {
  font-style: italic;
}

#taskSubmit {
  font-size: 16px;
  width: 20%;
  background-color: white;
  margin: 0;
  cursor: pointer;
  padding-left: 10%;
}

.drag {
  margin-left: 8px;
  cursor: move;
  color: gray;
  font-size: 18px;
}

.drag:active {
  cursor: grabbing;
}

.task-text {
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.task-text:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
}

.task-check {
  margin-right: 2%;
}

.list {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

.clear-container {
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
}

.clear-btn {
  padding: 2%;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}
